body{
    min-width: 380px;
    padding: none;
    margin: none;
    justify-content: center;
}

header{
    background-color: rgb(28,56,184);
}



nav{
    padding: none;
    margin: none;
    position: fixed;
    z-index: 10;
    background-color:rgb(28,56,184);
}

.navlink{
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.navitem{
    display: flex;
    justify-content: center;
    color: aliceblue;
    text-align: center;
}
.navitem:hover{
    color: aliceblue;
    animation: backgroudchange 0.5s ;
    animation-fill-mode: forwards;
}

.navcategorie{
    color: aliceblue;
    width: 100%;
    text-transform: uppercase;
}
.navcategorie:hover{
    animation: backgroudchange 0.5s ;
    animation-fill-mode: forwards;
    text-decoration: none;
}



.background{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
}

/* forms*/
form{
    background-color: rgba(253, 253, 253, 0.637);
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    height: 22em;
    justify-content: center;
    z-index: 1;

}

.title_form{
    margin-top: 0.2em;
    padding-left: 0.5em ;
    font-family: Noto Sans, sans-serif;
}

.SAS{
    margin-left: 0.6em ;
    font-family: Noto Sans, sans-serif;
}

.tel{
    margin-top: -1%;
    font-size: small;
    margin-left: 0.9em;
}

.input_type_info{
    display: flex;
    flex-direction: column;

}

.input_form{
    margin-top: 0.8em;
    margin-left: 0.9em;
    margin-right: 0.9em;
    height: 1.7em;
}

.message{
    height: 7em;
    
}

.send{
    width: 70%;
    height: 30%;
    border-top: none;
    border-left: none;
    border-radius: 5%;
    background-color: rgb(28,56,184);
    color: white;
}

/*RESPONCIVE*/
@media only screen and (min-width: 800px){
    body{max-width: 100%; max-height: 100%;}

}

@keyframes backgroudchange {
    from { }
    to { background-color: #fff; color: black;}
}